/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

@import url('https://fonts.googleapis.com/css?family=Kanit|Lato&display=swap');

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 7rem;
  color: white;
  font-size: 5rem;
}

.title {
  font-family: 'Kanit', sans-serif;
  margin-top: 2.8rem;
  font-size: 3rem;
  text-shadow: 2px 2px grey;
}

.form-div {
  height: 3rem;
  display: flex;
  justify-content: center;
  width: 5rem;
}

.form {
  margin-top: 0.9rem;
}

.number {
  width: 2rem;
}

.submit {
  width: 6rem;
  margin-top: 0.5rem;
  border-radius: 4rem;
  border: none;
  opacity: 50%;

}

.welcome {
  color: white;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 2rem;
}

.prompt {
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 0.25rem;
  text-shadow: 2px 2px 10px DimGrey;
}

.photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  height: 25rem;
  width: 25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

.description {
  font-family: 'Lato', sans-serif;
  color: white;
}

.expand {
  height: 1.5rem;
  opacity: 50%;
  width: 20rem;
  align-self: center;
  margin-bottom: 0.5rem;
}

.photo-title {
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  color: white;
}

footer {
  color: white
}

.spaceforce {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 7rem;
  width: 7rem;
}

.descrip-div {
  width: 50rem;
  text-align: left;
}